extends ../../layouts/default.pug
include ../../mixins/box-head.pug

block main
    .container.my-3
        .row
            .col-12
                +box-head("Our Products")
        .row
            .col-4.mb-3 
                .product-item 
                    .inner-image 
                        img(src="https://imgresizer.eurosport.com/unsafe/2560x1440/filters:format(jpeg)/origin-imgresizer.eurosport.com/2018/04/03/2306163-48022050-2560-1440.jpg", alt="Product")
                    .inner-content
                        h3.inner-title Product 
                        .inner-price-new 80$
                        .inner-price-old 100$
                        .inner-discount -20%
                        .inner-description This is a sample product description.
